<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API APP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        >
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <center>
            <h1>Welcome API APP</h1>
        </center>
        <hr>
        <div class="container">
            <form method="post" class="mt-5" style="margin-left: 300px;">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="inputname" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-5">
                        <input
                            type="name"
                            name="Title"
                            class="form-control"
                            id="inputName"
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">code</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" name="Code"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <label class="form-check-label" for="invalidCheck2">
                            Linenous
                        </label>
                        <input
                            class="form-check-input"
                            name="Linenous"
                            type="checkbox"
                            value=""
                            id="invalidCheck2"
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Language</label>
                    <div class="col-sm-5">
                        <select
                            class="form-select"
                            id="validationDefault04"
                            name="Language"
                            required
                        >
                            <option selected value="">ABAP</option>
                            <option>Python</option>
                            <option>JavaScript</option>
                            <option>C++</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Style</label>
                    <div class="col-sm-5">
                        <select
                            class="form-select"
                            name="Style"
                            id="validationDefault04"
                            required
                        >
                            <option selected value="">abap</option>
                            <option>Friendly</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
    </body>
</html>
